
<header class="flex justify-between bg-brown-900 items-center px-24 py-5">
    <!-- <img src="../../../../../../Sable-6.png" class="w-44 h-28 object-contain" alt="logo"> -->

    <h1 class="font-berkshire font-bold text-brown-100 text-5xl cursor-pointer">Sable.</h1>

<nav>
    <ul class="flex gap-10 items-center list-none text-brown-100">
    
        <li class="nav-list">About</li>
        <li class="nav-list">Services</li>
        <li class="nav-list">Our Work</li>
        <li class="nav-list">Contact Us</li>
    </ul>
</nav>


<button>Get in Touch</button>
</header>
